@*protected global::System.Web.UI.DataVisualization.Charting.Chart Chart;*@
@using FustWebApp.Models;

@{
	ViewData["Title"] = "Statistics";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	var InboundconvertedList = (List<StatisticsDataPoint>)@ViewBag.LoadsStats;

}

@{
	IEnumerable<SupplierStatistics> suppliers = ViewData["SuppliersList"] as IEnumerable<SupplierStatistics>;
}




<div class="container">
	<div class="row shadow  d-flex justify-content-center bg-secondary bg-opacity-25">
		<div style="max-width:800px;max-height:600px;" class="mb-4 bg-white shadow mt-4">
			<h1 class="text-sm-center">Total Loads</h1>
			<canvas  id="inbound-chart" height="300" width="800"></canvas>
		</div>
	</div>

	<div class="row shadow  d-flex justify-content-center bg-secondary bg-opacity-25 mt-4">
		<div style="max-width:800px;max-height:600px;" class=" mb-5 bg-white shadow mt-4">
			<h1 class="text-sm-center">Loads Per Supplier</h1>
			<canvas  id="supplier-chart" height="500" width="800"></canvas>
		</div>
	</div>

</div>





	





@section Scripts{

	<script src="~/lib/chartjs/dist/chart.umd.js"></script>


	<script type="text/javascript">

		var inboundArray = [];
		@for (int i = 0; i < InboundconvertedList.Count; i++)
		{
			@:inboundArray.push({ "@InboundconvertedList[i].loadType": "@InboundconvertedList[i].loadCount" })

		}
																																var label = ["Loads"]

		var barChartData = {
			labels: label,
			datasets: []
		};


		for (var i = 0; i < inboundArray.length; i++) {


			barChartData.datasets.push({
				label: Object.keys(inboundArray[i]),

				data: Object.values(inboundArray[i])
			})
		}


		// Bar chart
		var barChart = new Chart(document.getElementById("inbound-chart"), {
			type: 'bar',

			label: "Total Loads",

			data: {
				labels: barChartData.labels,
				datasets: barChartData.datasets,
			},

			options: {
				legend: { display: false },
				title: {
					display: true,
					text: 'Loads'
				},
				global: {
					responsive: true,
					maintainAspectRatio: false
				}
			}
		});




		var supplierArray = [];
		var labelArray = [];
		var valueArray = [];



		@foreach (SupplierStatistics supplier in suppliers)
		{
			@:supplierArray.push({ "@supplier.SupplierName": "@supplier.loadCount" })
			@:labelArray.push("@supplier.SupplierName")
			@:valueArray.push("@supplier.loadCount")
		}





																						// Bar chart
																						var barChart = new Chart(document.getElementById("supplier-chart"), {
			type: 'bar',


			//data: supplierChartData,
			data: {
				labels: labelArray,
				//datasets: SupplierChartData.datasets,
				datasets: [{
					label: "Total Loads Per Supplier",
					data: valueArray
				}],
			},

			options: {
				legend: { display: false },
				title: {
					display: false,
					text: 'Loads'
				},
				tooltips: {
					callbacks: {
						label: function (tooltipItem) {
							return tooltipItem.yLabel;
						}
					}
				},
				global: {
					responsive: true,
					maintainAspectRatio: false
				},
				scales: {
					xAxes: [{
						stacked: true,
					}],
					yAxes: [{
						stacked: true,
						ticks: {
							precision: 2
						}
					}]
				}

			}
		});


	</script>


		}

				