@using FustWebApp.Models
@using FustWebApp.Models.Domain
@{
	ViewData["Title"] = "Home Page";

	var loadList = ViewBag.InboundList as IEnumerable<Loads>;
	TimeSpan daysAhead = new TimeSpan(0);
}

<div class="container mw-100">
	<div class="row">
		<div class="col-md-2">
			<div class="row text-sm-center mt-2">
				<H3><span style="font-weight:bold;">Stockholding</span></H3>
				<table class="table">
					<thead class="table-dark  sticky-top">
						<tr>
							<th>Fust Type</th>
							<th>Fust Item</th>
							<th>Balance</th>
						</tr>
					</thead>
					<tbody style="font-size:90%">
						@foreach (var item in ViewBag.StockHoldingList as IEnumerable<StockholdingViewModel>)
						{
							var status = string.Empty;

							if (item.StockHoldingQty > 0)
							{
								status = "positive";
							}
							else if (item.StockHoldingQty == 0)
							{
								status = "zero";
							}
							else
							{
								status = "negative";
							}


							<tr class="status" data-status="@status">
								<td>@item.StockHoldingFustItems.FustType.FustTypeName</td>
								<td>@item.StockHoldingFustItems.FustName</td>
								<td>@item.StockHoldingQty</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

		</div>
		<div class="col-md-10 w-75 ms-5">

			<div class="row text-sm-center mt-2">
				<h3 class="w-100 text-lg-center mb-3 mt-3" style=" font-weight:bold;">Loads</h3>
				<div class="d-flex flex-row-reverse">
					<input class="form-control mb-2" type="date" id="date" name="date" style="width:200px;" onchange="filterTalbe('date')" />
				</div>
				<table class="table table-hover" id="loads">
					<thead class="table-dark text-sm-center font-monospace h6 sticky-top">
						<tr>
							<th>Load Type</th>
							<th>Supplier</th>
							<th>Group </th>
							<th>Origin</th>
							<th>PO Number</th>
							<th>Trailer Number</th>
							<th>Date</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="text-sm-center">
						@if (loadList.Count() == 0)
						{
							<tr>
								<td class="text-muted" colspan="7"><h3>No Loads to display</h3></td>
							</tr>
						}
						else
						{
							@foreach (var load in loadList)
							{
								<tr>
									<td>@load.LoadType</td>
									<td>@load.LoadSupplier</td>
									<td>@load.LoadGroup</td>
									<td>@load.LoadOrigin</td>
									<td>@load.PONumber</td>
									<td>@load.LoadTrailerNumber</td>
									<td id="test">@load.LoadDate.ToShortDateString()</td>
									<td><a href="Admin/Load/ViewLoad/@load.LoadId" class="btn btn-sm btn-primary">View</a></td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>

@section Scripts{

	<script type="text/javascript">

		function filterTalbe(x) {
			var formField = document.getElementById(x);
			var zValue = formField.value;
			var allTrue = false;
			if (zValue === '') {
				var allTrue = true;
			}
			else {
				var searchTerm = dateFixer_(zValue);
			}


			var table = document.getElementById("loads");
			var tr = table.getElementsByTagName("tr");
			for (var i = 0; i < tr.length; i++) {
				var td = tr[i].getElementsByTagName("td")[6];
				if (td) {
					var txtValue = td.textContent || td.innerText;
					if (txtValue.toString().indexOf(searchTerm) > -1 || allTrue) {
						tr[i].style.display = "";
					}
					else {
						tr[i].style.display = "none";
					}
				}
			}


		}

		function dateFixer_(dateAsYYYYMMDD) {
			const aYear = dateAsYYYYMMDD.slice(0, 4);
			const aMonth = dateAsYYYYMMDD.slice(5, 7);
			const aDay = dateAsYYYYMMDD.slice(8, 10);
			return `${aDay}/${aMonth}/${aYear}`;
		}


	</script>


}