@model FustWebApp.Models.Domain.Group

@{

	ViewData["Title"] = "Manage Group";

	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@using (@Html.BeginForm("View", "Group", HttpMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model=>model.Id)
	<div class="container">
		@Html.ValidationSummary(true,"",new{@class = "text-danger"})
		<div class="row mb-2">
			@Html.LabelFor(model=>model.GroupName,htmlAttributes:new{@class ="col-form-label col-sm-2" })
			<div class="col-auto">
				@Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control",@required ="required" } })
				@Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="row mb-2">
			@Html.LabelFor(model=>model.GroupComment,htmlAttributes:new{@class ="col-form-label col-sm-2"})
			<div class="col-auto">
				@Html.EditorFor(model => model.GroupComment, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.GroupComment, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Edit" name="Edit" class="btn btn-primary" />
				<input type="submit" value="Delete" name="Delete" class="btn btn-danger" />
			</div>
		</div>
	</div>
}